$zoom-z-index: 2000 !default;

$zoom-transition-duration: 300ms !default;
$zoom-transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1) !default;

$zoom-wrapper-class: 'zoom' !default;
$zoom-wrapper-expanding-class: 'zoom--expanding' !default;
$zoom-wrapper-expanded-class: 'zoom--expanded' !default;
$zoom-wrapper-collapsing-class: 'zoom--collapsing' !default;

$zoom-container-class: 'zoom__container' !default;

$zoom-overlay-class: 'zoom__overlay' !default;
$zoom-overlay-visible-class: 'zoom__overlay--visible' !default;
$zoom-overlay-z-index: 1000 !default;
$zoom-overlay-background-color: hsl(0, 0%, 100%) !default;
$zoom-overlay-visible-opacity: 100 !default;

$zoom-image-class: 'zoom__element' !default;
$zoom-image-hidden-class: 'zoom__element--hidden' !default;
$zoom-image-active-class: 'zoom__element--active' !default;

$zoom-clone-class: 'zoom__clone' !default;
$zoom-clone-loaded-class: 'zoom__clone--visible' !default;

@mixin zoom-hidden() {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms, opacity 100ms 400ms;
}

@mixin zoom-visible() {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 400ms 0s;
}

.#{$zoom-wrapper-class} {
  display: block;
  position: relative;
  margin: 0;
  width: 100%;
  line-height: 0;
  text-align: center;

  cursor: pointer;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
}

.#{$zoom-wrapper-expanding-class},
.#{$zoom-wrapper-expanded-class},
.#{$zoom-wrapper-collapsing-class} {
  z-index: $zoom-z-index;
  cursor: pointer;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
}

.#{$zoom-container-class} {
  position: relative;
  transition: transform $zoom-transition-duration $zoom-transition-timing-function;
  will-change: transform;
}

.#{$zoom-image-class} {
  @include zoom-visible();
  will-change: visibility, opacity;

  max-width: 100%;
}

.#{$zoom-image-active-class} {
  width: 100%;
}

.#{$zoom-image-hidden-class} {
  @include zoom-hidden();
}

.#{$zoom-clone-class} {
  @include zoom-hidden();
  will-change: visibility, opacity;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
}

.#{$zoom-clone-loaded-class} {
  @include zoom-visible();
}

.#{$zoom-overlay-class} {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: $zoom-overlay-z-index;
  background: $zoom-overlay-background-color;

  opacity: 0;
  filter: 'alpha(opacity=0)';
  transition: opacity $zoom-transition-duration;
  will-change: opacity, filter;
}

.#{$zoom-overlay-visible-class} {
  opacity: $zoom-overlay-visible-opacity / 100;
  filter: 'alpha(opacity=' + $zoom-overlay-visible-opacity + ')';
}
