$zoom-background-color: hsl(0, 0%, 100%) !default;
$zoom-transition-duration: 300ms !default;
$zoom-media-z-index: 2000 !default;
$zoom-overlay-z-index: 1000 !default;
$zoom-transition-timing-function: cubic-bezier(0.2, 0, 0.2, 1) !default;
$zoom-overlay-opacity: 100 !default;

@mixin transition($property, $duration) {
  transition: $property $duration $zoom-transition-timing-function;
  -o-transition: $property $duration $zoom-transition-timing-function;
  -moz-transition: $property $duration $zoom-transition-timing-function;
  -webkit-transition: $property $duration $zoom-transition-timing-function;
}

[data-zoom='zoom-in'] {
  cursor: pointer;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
}

[data-zoom='zoom-out'] {
  @include transition(transform, $zoom-transition-duration);

  position: relative;
  z-index: $zoom-media-z-index;

  cursor: pointer;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
}

// An overlay that fills the entire viewport with a background colour and disables click events below it
.zoom-overlay {
  @include transition(opacity, $zoom-transition-duration);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;

  z-index: $zoom-overlay-z-index;
  background: $zoom-background-color;
  pointer-events: none;
  filter: 'alpha(opacity=0)';
}

// Show a waiting cursor during the loading phase and prevent users from clicking anything
.zoom-overlay-loading {
  cursor: wait;
  pointer-events: none;

  [data-zoom='zoom-in'],
  [data-zoom='zoom-out'] {
    cursor: wait;
  }
}

// Show the overlay during opening and when opened
.zoom-overlay-opening,
.zoom-overlay-open {
  .zoom-overlay {
    opacity: $zoom-overlay-opacity / 100;
    filter: 'alpha(opacity=' + $zoom-overlay-opacity + ')';
  }
}

// Improve image rendering once opened
.zoom-overlay-open {
  [data-zoom='zoom-out'] {
    image-rendering: pixelated;
  }
}

// Disable text selection if the overlay isn't hidden
.zoom-overlay-loading,
.zoom-overlay-opening,
.zoom-overlay-opening,
.zoom-overlay-closing {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

// Allow the user to only click on the media when overlay is opened
.zoom-overlay-opening,
.zoom-overlay-open,
.zoom-overlay-closing {
  pointer-events: none;

  [data-zoom='zoom-out'] {
    pointer-events: auto;
  }
}
