$zoom-background-color: hsl(0, 0%, 100%) !default;
$zoom-transition-duration: 400ms !default;
$zoom-media-z-index: 2000 !default;
$zoom-overlay-z-index: 1000 !default;
$overlay-opacity: 100;

@mixin transition($property, $duration) {
  transition: $property $duration;
  -o-transition: $property $duration;
  -moz-transition: $property $duration;
  -webkit-transition: $property $duration;
}

[data-zoom='zoom-in'] {
  cursor: pointer;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
}

[data-zoom='zoom-out'] {
  cursor: pointer;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
}

// Ensure the wrap and the zoomed element appear above the overlay
[data-zoom='zoom-out'],
.zoom-wrap {
  @include transition(transform, $zoom-transition-duration);

  position: relative;
  z-index: $zoom-media-z-index;
}

// An overlay that fills the entire viewport with a background colour and disables click events below it
.zoom-overlay {
  @include transition(opacity, $zoom-transition-duration);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0;

  z-index: $zoom-overlay-z-index;
  background: $zoom-background-color;
  pointer-events: none;
  filter: 'alpha(opacity=0)';
}

.zoom-overlay-loading {
  cursor: wait;

  [data-zoom='zoom-in'], [data-zoom='zoom-out'] {
    cursor: wait;
  }
}

.zoom-overlay-open {
  .zoom-overlay {
    opacity: $overlay-opacity / 100;
    filter: 'alpha(opacity=' + $overlay-opacity + ')';
  }

  // Once loaded & transitioned, enable pixelated image rendering to improve image sharpness
  &:not(.zoom-overlay-loading) {
    &:not(.zoom-overlay-transitioning) {
      image-rendering: pixelated;
    }
  }
}

// Disable pointer events in the background when overlay is loading, transitioning, or open
.zoom-overlay-loading,
.zoom-overlay-transitioning,
.zoom-overlay-open {
  cursor: default;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

}

// Re-enable pointer events once loaded and overlay is either transitioning or already opened
.zoom-overlay-transitioning,
.zoom-overlay-open {
  [data-zoom='zoom-in'],
  [data-zoom='zoom-out'] {
    pointer-events: auto;
  }
}
